/* -----------------------------------------------------------------------

Based on the Blueprint CSS Framework 0.9
 http://blueprintcss.org

----------------------------------------------------------------------- */

/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* typography.css */
html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#000;}
a {color:#009;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
input[type=text], input[type=password], input.text, input.title, textarea, select {background-color:#fff;border:1px solid #bbb;}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border-color:#666;}
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0.5em 0;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {position:relative;top:.25em;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

/* --------------------------------------------------------------

   BLUEPRINT CSS
    * Filename:        grid.css
    * Version:         0.8 (2009-03-01)
    * Website:         http://code.google.com/p/blueprintcss/

   Generated by:
    * BlueCalc (2009-12-29) [http://www.bluecalc.com/]

   Blueprint.css is licensed by the conditions of the MIT license.
   This document has been created by BlueCalc, a grid creation utility for blueprint.
   Also check out the "Blueprint CSS Generator" by kematzy (http://kematzy.com/blueprint-generator/)
	
   == STRUCTURE: ========================
    * Page width:            980 px
    * Number of columns:     23 
    * Column width:          34 px
    * Margin width:          9 px
   ======================================
   
   The blueprint grid is calculated as follows:
   Total width = (number_of_columns * column_width) - margin_width
   
   For more information on blueprint.css check out http://wiki.github.com/joshuaclayton/blueprint-css
   
-------------------------------------------------------------- */

/* A container should group all your columns. */
.container {
  width: 980px;
 /* height:1200px;*/
  margin: 0 auto;
  
/*background: url(../../images/mockups120509-a.jpg);*/
}

/* Use this class on any div.span / container to see the grid. */
.showgrid { 
  background: url(src/grid.png); 
}


/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {
  float: left;
  margin-right: 9px;
}

/* The last column in a row needs this class. */
.last, div.last { margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1 { width: 34px; }
.span-2 { width: 77px; }
.span-3 { width: 120px; }
.span-4 { width: 163px; }
.span-5 { width: 206px; }
.span-6 { width: 249px; }
.span-7 { width: 292px; }
.span-8 { width: 335px; }
.span-9 { width: 378px; }
.span-10 { width: 421px; }
.span-11 { width: 464px; }
.span-12 { width: 507px; }
.span-13 { width: 550px; }
.span-14 { width: 593px; }
.span-15 { width: 636px; }
.span-16 { width: 679px; }
.span-17 { width: 722px; }
.span-18 { width: 765px; }
.span-19 { width: 808px; }
.span-20 { width: 851px; }
.span-21 { width: 894px; }
.span-22 { width: 937px; }
.span-23, div.span-23 { width: 980px; margin: 0; }

/* Use these classes to set the width of an input. */
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22 {
  border-left-width: 1px!important;
  border-right-width: 1px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
}

input.span-1, textarea.span-1 { width: 22px !important; }
input.span-2, textarea.span-2 { width: 65px !important; }
input.span-3, textarea.span-3 { width: 108px !important; }
input.span-4, textarea.span-4 { width: 151px !important; }
input.span-5, textarea.span-5 { width: 194px !important; }
input.span-6, textarea.span-6 { width: 237px !important; }
input.span-7, textarea.span-7 { width: 280px !important; }
input.span-8, textarea.span-8 { width: 323px !important; }
input.span-9, textarea.span-9 { width: 366px !important; }
input.span-10, textarea.span-10 { width: 409px !important; }
input.span-11, textarea.span-11 { width: 452px !important; }
input.span-12, textarea.span-12 { width: 495px !important; }
input.span-13, textarea.span-13 { width: 538px !important; }
input.span-14, textarea.span-14 { width: 581px !important; }
input.span-15, textarea.span-15 { width: 624px !important; }
input.span-16, textarea.span-16 { width: 667px !important; }
input.span-17, textarea.span-17 { width: 710px !important; }
input.span-18, textarea.span-18 { width: 753px !important; }
input.span-19, textarea.span-19 { width: 796px !important; }
input.span-20, textarea.span-20 { width: 839px !important; }
input.span-21, textarea.span-21 { width: 882px !important; }
input.span-22, textarea.span-22 { width: 925px !important; }
input.span-23, textarea.span-23 { width: 968px !important; }

/* Add these to a column to append empty cols. */

.append-1 { padding-right: 43px; }
.append-2 { padding-right: 86px; }
.append-3 { padding-right: 129px; }
.append-4 { padding-right: 172px; }
.append-5 { padding-right: 215px; }
.append-6 { padding-right: 258px; }
.append-7 { padding-right: 301px; }
.append-8 { padding-right: 344px; }
.append-9 { padding-right: 387px; }
.append-10 { padding-right: 430px; }
.append-11 { padding-right: 473px; }
.append-12 { padding-right: 516px; }
.append-13 { padding-right: 559px; }
.append-14 { padding-right: 602px; }
.append-15 { padding-right: 645px; }
.append-16 { padding-right: 688px; }
.append-17 { padding-right: 731px; }
.append-18 { padding-right: 774px; }
.append-19 { padding-right: 817px; }
.append-20 { padding-right: 860px; }
.append-21 { padding-right: 903px; }
.append-22 { padding-right: 946px; }

/* Add these to a column to prepend empty cols. */

.prepend-1 { padding-left: 43px; }
.prepend-2 { padding-left: 86px; }
.prepend-3 { padding-left: 129px; }
.prepend-4 { padding-left: 172px; }
.prepend-5 { padding-left: 215px; }
.prepend-6 { padding-left: 258px; }
.prepend-7 { padding-left: 301px; }
.prepend-8 { padding-left: 344px; }
.prepend-9 { padding-left: 387px; }
.prepend-10 { padding-left: 430px; }
.prepend-11 { padding-left: 473px; }
.prepend-12 { padding-left: 516px; }
.prepend-13 { padding-left: 559px; }
.prepend-14 { padding-left: 602px; }
.prepend-15 { padding-left: 645px; }
.prepend-16 { padding-left: 688px; }
.prepend-17 { padding-left: 731px; }
.prepend-18 { padding-left: 774px; }
.prepend-19 { padding-left: 817px; }
.prepend-20 { padding-left: 860px; }
.prepend-21 { padding-left: 903px; }
.prepend-22 { padding-left: 946px; }

/* Border on right hand side of a column. */
div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eee;
}

/* Border with more whitespace, spans one column. */
div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eee;
}

/* Use these classes on an element to push it into the 
next column, or to pull it into the previous column.  */

.pull-1 { margin-left: -43px; }
.pull-2 { margin-left: -86px; }
.pull-3 { margin-left: -129px; }
.pull-4 { margin-left: -172px; }
.pull-5 { margin-left: -215px; }
.pull-6 { margin-left: -258px; }
.pull-7 { margin-left: -301px; }
.pull-8 { margin-left: -344px; }
.pull-9 { margin-left: -387px; }
.pull-10 { margin-left: -430px; }
.pull-11 { margin-left: -473px; }
.pull-12 { margin-left: -516px; }
.pull-13 { margin-left: -559px; }
.pull-14 { margin-left: -602px; }
.pull-15 { margin-left: -645px; }
.pull-16 { margin-left: -688px; }
.pull-17 { margin-left: -731px; }
.pull-18 { margin-left: -774px; }
.pull-19 { margin-left: -817px; }
.pull-20 { margin-left: -860px; }
.pull-21 { margin-left: -903px; }
.pull-22 { margin-left: -946px; }
.pull-23 { margin-left: -989px; }

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22 { float: left; position:relative; }

.push-1 { margin: -43px 1.5em 43px; }
.push-2 { margin: -86px 1.5em 86px; }
.push-3 { margin: -129px 1.5em 129px; }
.push-4 { margin: -172px 1.5em 172px; }
.push-5 { margin: -215px 1.5em 215px; }
.push-6 { margin: -258px 1.5em 258px; }
.push-7 { margin: -301px 1.5em 301px; }
.push-8 { margin: -344px 1.5em 344px; }
.push-9 { margin: -387px 1.5em 387px; }
.push-10 { margin: -430px 1.5em 430px; }
.push-11 { margin: -473px 1.5em 473px; }
.push-12 { margin: -516px 1.5em 516px; }
.push-13 { margin: -559px 1.5em 559px; }
.push-14 { margin: -602px 1.5em 602px; }
.push-15 { margin: -645px 1.5em 645px; }
.push-16 { margin: -688px 1.5em 688px; }
.push-17 { margin: -731px 1.5em 731px; }
.push-18 { margin: -774px 1.5em 774px; }
.push-19 { margin: -817px 1.5em 817px; }
.push-20 { margin: -860px 1.5em 860px; }
.push-21 { margin: -903px 1.5em 903px; }
.push-22 { margin: -946px 1.5em 946px; }
.push-23 { margin: -989px 1.5em 989px; }

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22 {float: right; position:relative;}

/* Misc classes and elements
-------------------------------------------------------------- */

/* In case you need to add a gutter above/below an element */
.prepend-top { 
  margin-top:1.5em; 
}
.append-bottom { 
  margin-bottom:1.5em; 
}

/* Use a .box to create a padded box inside a column.  */ 
.box { 
  padding: 1.5em; 
  margin-bottom: 1.5em; 
  background: #E5ECF9; 
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd; 
  color: #ddd;
  clear: both; 
  float: none; 
  width: 100%; 
  height: .1em;
  margin: 0 0 1.45em;
  border: none; 
}
hr.space {
  background: #fff;
  color: #fff;
}


/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
  content: "\0020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
  overflow:hidden; 
}
.clearfix, .container {display: block;}

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear:both; }
.left { float: left; }
.right { float: right; }

/* Global Styles Added */

a {color:#009baa;text-decoration:underline;}

.body {
	background-image: url(../images/bg.gif); 
	}

.tail {
	background: url(../images/tail.gif) repeat-x 0 0;
}
#navigation {
	background-color:#000;
	position:relative;
	padding:5px 5px 0 5px;
	height:101px;
	font-size:1.85em;
	margin:0;
	text-transform: uppercase;
	font-weight:bold;
	list-style-type:none;

}
#navigation ul {
	clear:right;
	float:right;
	padding:0 15px 0 0;
	margin:0;
}


#navigation ul li {
	display: inline;
	padding:0 0 0 10px ;
	margin:0;
	overflow:hidden;
}
#navigation li a {
	color: #fff;
	text-decoration:none;
	margin:0;
	overflow:hidden;
	
}

#navigation a:hover,
body#home a#homelink,
body#about a#aboutlink,
body#contact a#contactlink,
body#services a#serviceslink,
body#testimonials a#testimonialslink
 {
	color:#009baa;
      
}

.phone {
	font-size:.85em;
	font-weight:normal;
	color:#009baa;
	float:right;
	text-align:right;
	padding:15px 15px 7px; 0;
	margin:0;
	text-transform:none;
}
	
.logo {
	position:absolute;
	top: 18px;
	left:30px;
}

.mast  {
	background:url(../images/homemain.jpg) no-repeat;
	width:980px;
	height:375px;
	margin:0;
	float:left;
}
.mast p {
	font-size:3.7em;
	font-weight: bold;
	text-transform: uppercase;
	line-height:.95;
	padding: 115px 0 0 30px;
	width: 700px;
	color:#000;
	margin:0;
}



.mast img {
	float:right;
	padding: 105px 315px 0 0;
	z-index: 100;
	}
	
.mast .more {
	font-size:.4em;
	font-weight: bold;
	line-height: 4;
	width: 400px;
	color:#ababab;
	text-transform: uppercase;
	text-decoration:none;
	background: url(../images/more-arrow.gif)  right no-repeat;
	padding-right: 15px;
	margin:0;
	z-index: 100;
}

#undermast {
	width:960px;
	padding:20px 0 20px 20px;
	background-color:#fff;
	float:left;
}
.callout {
	width:255px;
	float:left;
	position: relative;
}

.callout .head {
	padding:20px 8px 5px 8px;
	background-color:#009baa;
	border-bottom:solid 3px #fff;
}
.callout h3 {
	color:#fff;
	text-transform: uppercase;
	font-weight: bold;
	text-align:center;
}

.callout .calltail {
	padding:20px;
	background-color:#000;
}
.callout .calltail p {
	color:#fff;
	background-color:#000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.4em;
}
.calltail .address {
	color:#fff;
}
.calloutmore {
	margin:15px 0 35px 0;	
}
.calloutmore a {
	color:#009baa;
	text-decoration:none;
	background: url(../images/blu-more-arrow-blk-bk.gif) right 6px no-repeat;
	padding-right: 12px;
	line-height:2.5em;
	font-size:1.3em;	
}
.column {
	width:195px;
	margin-left:27px;
	float:left;
}

.column img {
	margin-bottom:15px;
}

.column h3 {
	font-size:1.9em;
	font-weight: bold;
	text-transform:uppercase;
	line-height:.85;
}

.column p {
	color:#666;
}

.column a.arrow  {
	color:#009baa;
	background: url(../images/blu-more-arrow-wht-bk.gif) right 5px no-repeat;
	padding-right: 11px;
	line-height:1em;
	font-size:1.1em;
}


#footer {
	padding:10px 20px 20px 20px;
	color:#999;
	background:url(../images/logo-ftr.gif) 830px 10px no-repeat;
	float:left;
	width:940px;
	text-transform:uppercase;
}

#footer a{
	color:#999;
	text-decoration:none;
}

#about .mast  {
	background: url(../images/aboutmain.jpg) no-repeat;
	width:980px;
	height:375px;
	margin:0;
	float:left;
}

#about .mast p {
	font-size:3.7em;
	padding: 110px 0 0 30px;
	width: 600px;
	
}

#about .column {
	width:660px;
	margin-left:27px;
	float:left;
}

#about .column img {
	margin:0 0 10px 15px;
	float:right;
}

.signature {
	width:172px;
	height:54px;
	float:left;
	padding:0;
	margin:10px 0;
}

#services h4 {
	border-bottom: 1px solid #666;
	clear:both;
}

#services .column {
	width:660px;
	margin-left:27px;
	float:left;
}


#services .column  img{
	margin:0 0 10px 15px;
	float:right;
	
}

p.top {
	color:#009baa;
	float:right;
	font-size:.8em;
	
}

.top a {
	color:#009baa;
}

#services .mast  {
	background: url(../images/servicesmain.jpg) no-repeat;
}
	
#services .mast .more {
	color:#666;
	background: url(../images/more-arrow-darker.gif)  right no-repeat;
}
 #services .mainlist {
	 font-size:1.1em;	 
	/*text-transform:uppercase;*/	
}

#testimonials .column-all {
	width:660px;
	margin-left:27px;
	float:left;
	color:#666;
}


#testimonials .column-all h3 {
	font-size:1.9em;
	font-weight: bold;
	text-transform:uppercase;
	line-height:.85;
}

#testimonials .mast .more {
	color:#666;
	background: url(../images/more-arrow-darker.gif)  right no-repeat;
}

#testimonials .mast  {
	background: url(../images/testimonialsmain.jpg) no-repeat;
}

#testimonials .mast p {
	font-size:3.7em;
	padding: 110px 0 0 30px;
	width: 440px;
}

#testimonials .column {
	width:312px;
	margin-left:27px;
	float:left;
}

#testimonials .column p {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.4em;
	background:  url(../images/ldquo.gif) no-repeat 5px 13px;
	padding:10px 0 0 0 ;
	text-indent: 29px;
	margin:0;
}


#testimonials .column .address {
	color:#666; 
	margin:10px 0 30px 0; 
}


.quickcontacttail {
	padding:20px;
	background-color:#000;
}
.quickcontacttail p {
	color:#fff;
	background-color:#000;
	
}

.requeststar {
	position:absolute;
	top: -24px;
	left:168px;
	
}

#contact .column {
	width:660px;
	margin-left:27px;
	float:left;
}
#contact .mast  {
	background: url(../images/contactmain.jpg) no-repeat;
}
#contact .mast .more {
	color:#666;
	background: url(../images/more-arrow-darker.gif)  right no-repeat;
}
